body {
    padding-top: 50px;
    padding-bottom: 20px;
}

#logo-frontpage {
  float: left;
  margin-right: 20px;
}

#screenshot-overview {
  position: relative;
  top: -55px;
  border: 2px lightgrey solid;
  border-top: 18px lightgrey solid;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
