body {
    padding-top: 50px;
    padding-bottom: 20px;
}

#brand {
  height: 45px;
  margin-top: -9px;
  background: white;
  border: 1px solid #868484;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

@media (max-width: 767px) {
  #brand {
    margin-top: -12px;
  }
}

.jumbotron {
  background-image: url('/img/jumbotron_bg.png');
  background-size: 10%;
}

#logo-frontpage {
  float: left;
  margin-right: 20px;
}

.btn-primary {
  background: #d6292d;
  border-color: #b82327;
}

.btn-primary:focus, .btn-primary:hover {
  background: #b82327;
  border-color: #9d1e21;
}

.btn-primary:active, .btn-primary:active:focus, .btn-primary:active:hover {
  background: #9d1e21;
  border-color: #7a171a;
}

.demo-screenshot {
  position: relative;
  top: -55px;
  border: 2px lightgrey solid;
  border-top: 18px lightgrey solid;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.screenshot-container {
  position: relative;
  width: 80%;
  max-width: 800px; /* with of the gif */
}

.thumbnails li {
  max-width: 33%;
}

@media (max-width: 767px) {
  .thumbnails li {
    max-width: 32%;
  }
}


.thumbnails li img {
  border: 2px lightgrey solid;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  max-width: 100%;
}

dd {
  margin-bottom: 15px;
}

.circle {
  position: absolute;
  top: -51px;
  z-index: 99;
  height: 11px;
  width: 11px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.red {
  background: #f25f64;
  left: 6px;
}

.yellow {
  background: #fab758;
  left: 22px;
}

.green {
  background: #42b75b;
  left: 38px;
}
